@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  max-width: 100dvw;
}

:root {
  --foreground: rgb(220, 220, 220);
  --background-start: rgb(56, 52, 66);
  --background-end: rgb(76, 74, 85);
}

body {
  color: var(--foreground);
  /* background: linear-gradient(to bottom, transparent, var(--background-end)) var(--background-start); */
  /* background-color: var(--background-start); */
  background-image: url('../../public/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
